{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ site.data.labels.projects | default: "Projects" }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <div class="item">

      <span class="project-title">
        {% if project.link %}
        <a class="dont-print" href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

      {% if project.details %}
        {% for item in project.details %}
          <div class="d-flex flex-column flex-md-row">
            <span class="bullet">&#8226;</span> {{ item.name }}
              <div class="project-time">{{ item.time }}</div>
          </div><!--//details-->
        {% endfor %}
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
