/* ======= Base ======= */
body {
  font-family: "Roboto", sans-serif;
  color: $text-color-secondary;
  background: $smoky-white;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: lighten($theme-color, 5%);
  text-decoration: underline;
  text-decoration-color: lighten($theme-color, 20%);
  &:hover {
    text-decoration: underline;
    color: darken($theme-color, 30%);
  }
  &:focus {
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

.wrapper {
  background: $theme-color;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
  background: $theme-color;
  position: absolute;
  right: 0;
  width: 280px;
  height: 100%;
  min-height: 800px;
  color: white;
  a {
    color: white;
  }
  .profile-container {
    padding: 30px;
    //background: darken($theme-color, 10%);
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
  }
  .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .tagline {
    color: rgba(256, 256, 256, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  .profile {
    margin-bottom: 15px;
  }

  .avatar {
    //used for profile image
    max-width: 100px;
    margin-bottom: 15px;
    border: 0px solid white;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .contact-list {
    .fas,
    .fab {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }
    li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .container-block {
    padding: 25px 15px 5px 30px;
  }
  .container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .education-container {
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .meta {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
    }
    .time {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
  .languages-container {
    .lang-desc {
      color: rgba(256, 256, 256, 0.6);
    }
  }

  .languages-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .interests-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.main-wrapper {
  background: white;
  padding: 60px;
  padding-right: 340px;
  .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: darken($theme-color, 15%);
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .section {
    margin-bottom: 40px;
  }

  .experiences-section,
  .educations-section {
    .item {
      margin-bottom: 30px;
    }
  }
  .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
  }
  .job-title,
  .degree {
    color: $text-color;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
  }
  .time {
    position: absolute;
    right: 0;
    top: 0;
    color: $text-grey;
  }
  .company,
  .university {
    margin-bottom: 10px;
    color: $text-grey;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .achievements,
  .technologies {
    font-size: 14px;
  }

  .city {
    font-weight: 350;
    float: right;
  }

  .inline-company {
    color: lighten($theme-color, 20%);
    font-size: 14px;
  }
  .inline-city {
    font-weight: 350;
    font-size: 12px;
    letter-spacing: 1px;
    top: 0;
    color: #97AAC3;
    float: right;
  }

  .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    color: darken($theme-color, 15%);
  }
  .projects-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
    .bullet{
      margin-left: 40px;
      margin-right: 7px;
    }

    .project-time {
      color: lighten($theme-color, 25%);
      float: right;
    }
  }

  .publication-title {
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 1px;
  }
  .publication-authors {
    font-style: italic;
    color: $text-grey;
    margin-bottom: 1px;
  }
  .publications-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
}

.skillset {
  display: contents;

  .item {
    line-height: 15px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .level-title {
    font-weight: 700;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .level-bar {
    height: 12px;
    background: $smoky-white;
  }
  .level-bar-inner {
    height: 12px;
    background: lighten($theme-color, 15%);
  }
}

.footer {
  padding-top: 30px;
  .copyright {
    line-height: 1.6;
    color: $text-color-secondary;
    font-size: 13px;
  }

  .fa-heart {
    color: $heart;
  }
}


.resume-timeline {
  padding-left: 2rem;

  &:before {
      content: "";
      display: inline-block;
      width: 2px;
      height: 100%;
      background: lighten($theme-color, 40%);
      left: -6px;
      top: 4px;
      position: absolute;
  }
}

.resume-timeline-item {
  &:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: -32px;
      top: 2px;
      width: 13px;
      height: 13px;
      border: 4px solid lighten($theme-color, 10%);
      background: white;
      @include border-radius(50%);

  }
}

.resume-timeline-item-desc-heading {
  font-size: 1rem;
}
.pb-5, .py-5 {
  padding-bottom: 1.5rem !important;
}
.position-relative {
  position: relative !important;
}

.technology-badge {
  background-color: lighten($theme-color, 15%) !important;

}

hr.print-line-upper,
hr.print-line-lower {
  display: none;
}

hr.education-line-upper {
  display: block;
  border-color: lighten($theme-color, 10%) !important;
  margin-top: -8px;
  margin-bottom: 4px;
  border-width: 1px;
}

hr.education-line-lower {
  display: block;
  border-color: lighten($theme-color, 10%) !important;
  margin-top: -8px;
  margin-bottom: 0px;
  border-width: 1px;
}

.cvlink {
  display: none;
  margin-top: 8px;
}