@media print {
  @page {
    size: A4;
  }
  body {
    font-size: 12pt;
  }

  img.avatar {
    filter: grayscale(1);
    -webkit-filter: greyscale(1);
  }
  .main-wrapper .time {
    float: right;
    -webkit-print-color-adjust: exact;
  }
  .main-wrapper .section {
    margin-bottom: 20px;
  }
  .sidebar-wrapper {
    position: static;
    float: right;
    width: 40%;
    -webkit-print-color-adjust: exact;

    // Print all the colors
    color: unset;
    a,
    .profile-container,
    .avatar,
    .tagline,
    .languages-container .lang-desc {
      color: unset;
    }
    // Color also had to be removed on bootstrap.min.css.
    // There is no other way to override Bootstrap's style.
    // Replaced:
    // @media print{*,:after,:before{color:#000!important;...
    // by
    // @media print{*,:after,:before{...
  }

  .remove-container.container-block {
    display: none;
  }

  footer {
    display: none;
  }

  // Skillset
  .level-bar {
    display: none;
  }
  // TODO This is a hacky way to use bullets, since I couldn't use "list-style-type: disc;" anywhere:
  .level-title::before {
    content: "• ";
  }
  .level-title {
    white-space: nowrap;
  }
  .skillset {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }
  .skillset > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

  // Don't expand links for email, phone, map
  a.dont-print:after {
    content: "";
  }
}
