@media print {
  @page {
    size: A4;
  }
  body {
    font-size: 13px;
  }

  .dont-break {
    break-inside: avoid;
  }

  img.avatar {
    max-width: 100px;
    padding: 0px 30px;
  }

  .main-wrapper {
    .section-title {
      margin-bottom: 10px;
      color: lighten($theme-color, 10%);
    }
          
    .fa-inverse {
      color: white !important;
    }

    .projects-section .item {
      margin-bottom: 10px;
    }
  }

  .main-wrapper .time {
    position: absolute;
    right: 0;
    top: -6px;
    color: #97AAC3;
    // float: right;
    // -webkit-print-color-adjust: exact;
    font-size: 15px;
  }
  .main-wrapper .section {
    margin-bottom: 0px;
  }
  .main-wrapper .company {
    margin-bottom: -3px;
  }
  .sidebar-wrapper {
    position: static;
    float: right;
    -webkit-print-color-adjust: exact;
    width: 200px;
    height: 100%;
    min-height: 800px;

    // Print all the colors
    color: unset;
    border-left: 2px solid lighten($theme-color, 40%);
    margin-left: 1em;
    a,
    .profile-container,
    .avatar,
    .tagline,
    .languages-container .lang-desc {
      color: unset;
    }
    .profile-container {
      padding: 10px;
    }
    .container-block-title {
      margin-bottom: 8px;
    }
    .container-block {
      padding: 20px 10px 5px 15px;
    }

    .name {
      font-size: 25px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 10px;
    }
    .tagline {
      // font-size: ;
    }

    .cvlink {
      display: block;
      color: darken($theme-color, 10%);
      text-decoration: underline;
    }

    // Color also had to be removed on bootstrap.min.css.
    // There is no other way to override Bootstrap's style.
    // Replaced:
    // @media print{*,:after,:before{color:#000!important;...
    // by
    // @media print{*,:after,:before{...
  }

  .remove-container.container-block {
    display: none;
  }

  footer {
    padding-top: -300px;
    // display: none;
  }

  // Skillset
  .level-bar {
    display: none;
  }
  // TODO This is a hacky way to use bullets, since I couldn't use "list-style-type: disc;" anywhere:
  .level-title::before {
    content: "• ";
  }
  .level-title {
    white-space: nowrap;
  }
  .skillset {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }
  .skillset > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

  // Don't expand links for email, phone, map
  a.dont-print:after {
    content: "";
  }

  a {
    color: darken($theme-color, 10%);
    text-decoration: underline;
  }

  .resume-timeline {
    padding-left: 0rem;
    &:before {
        display: none;
    }
  }
  
  .resume-timeline-item {
    &:before {
        display: none;
    }
  }

  .badge {
    padding: 1px 4px;
    border: 1px solid lighten($theme-color, 10%);
    color: darken($theme-color, 10%);
    font-size: 12px;
    font-weight: 500;
  }


  .achievements,
  .technologies,
  .subjects {
    display: inline;
  }

  hr.print-line-upper {
    display: block;
    border-color: lighten($theme-color, 10%) !important;
    margin-top: -8px;
    margin-bottom: 4px;
    border-width: 1px;
  }
  
  hr.print-line-lower {
    display: block;
    border-color: lighten($theme-color, 10%) !important;
    margin-top: -8px;
    margin-bottom: -3px;
    border-width: 1px;
  }

  hr.education-line-lower {
    margin-bottom: 5px;
  }
  

  .only-online {
    display: none;
  }

}
