@media print {
  @page {
    size: A4;
  }
  body {
    font-size: 12pt;
  }

  img.avatar {
    filter: grayscale(1);
    -webkit-filter: greyscale(1);
  }
  .main-wrapper .time {
    float: right;
    color: black !important;
    -webkit-print-color-adjust: exact;
  }
  .main-wrapper .section {
    margin-bottom: 20px;
  }
  .sidebar-wrapper {
    position: static;
    float: right;
    width: 40%;
    -webkit-print-color-adjust: exact;
  }

  .remove-container.container-block {
    display: none;
  }

  footer {
    display: none;
  }

  // Skillset
  .level-bar {
    display: none;
  }
  .level-title::before {
    content: "* ";
  }
  .level-title {
    white-space: nowrap;
  }
  .skillset {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }
  .skillset > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}
